@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tarefa 1 | Consumindo uma API para um Produto</h1>
    <p>PROJETO E ARQUITETURA DE SOFTWARE</p>
</div>

<form method="post">

    <div class="form-group">
        <label for="deviceId">Device ID:</label>
        <input type="text" class="form-control" id="deviceId" name="deviceId" />
    </div>

    <div class="form-group">
        <label for="message">Message:</label>
        <input type="text" class="form-control" id="message" name="message" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Dispositivo</th>
            <th>Data</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicao in Model.Measurement)
        {
            <tr>
                <td>@medicao.DeviceIdentifier</td>
                <td>@medicao.Timestamp</td>
                <td>@medicao.Value</td>
            </tr>
        }
    </tbody>
</table>

